<div class="social-share clearfix">
    <div>
        <a href="#" class="social-icon si-borderless si-text-color si-facebook" title="Facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
        </a>
        <a href="#" class="social-icon si-borderless si-text-color si-twitter" title="Twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
        </a>
        <a href="#" class="social-icon si-borderless si-text-color si-youtube" title="Youtube">
            <i class="icon-youtube"></i>
            <i class="icon-youtube"></i>
        </a>
    </div>
</div>





<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('../client/images/background1.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.4">

    <div class="container clearfix">
        <h1>ისწავლე სმარტფონი ჩვენთან ერთად</h1>

        <h1><span class="animate-left">ვიდეო</span> ინსტრუქციებით</h1>

    </div>