<div class="social-share clearfix">
    <div>
        <a href="#" class="social-icon si-borderless si-text-color si-facebook" title="Facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
        </a>
        <a href="#" class="social-icon si-borderless si-text-color si-twitter" title="Twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
        </a>
        <a href="#" class="social-icon si-borderless si-text-color si-youtube" title="Youtube">
            <i class="icon-youtube"></i>
            <i class="icon-youtube"></i>
        </a>
    </div>
</div>